@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.left-content,
.right-content {
    width: 50%;
    height: 100%;
    position: absolute;
}

.right-content {
    right: 0;
}

.icon-sosmed {
    margin: 8% 0 5% 0;
}

/* Register END */
